.venv/
.idea/
__pycache__/
py/__pycache__/
__pycache__
map/*
plots/*
pkl/*
data/*
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.json
*.xlsx
*.xls
*.md
*.html
*.xml
*.ipynb
*.ipynb_checkpoints
*.egg-info/
dist/
build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/